@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conference</h1>
    <p class="lead">Welcome to our conference website. Create an account and sign up for sessions as soon as possible!</p>
    <p><a> @Html.ActionLink("Create Account", "Create", "Account", new { area = "" }, null) &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin?</h2>
        <p>
            Click here to add sessions and manage users. 
        </p>
        <p><button class="ui-button">@Html.ActionLink("Manage Sessions", "Index", "ManageSession", new { area = "admin" }, null)</button></p>
    </div>
    @*<div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Create an account!</p>
        <p><button class="ui-button">@Html.ActionLink("Create Account", "Create", "Account", new { area = "" }, null)</button></p>
    </div>*@
    <div class="col-md-4">
        <h2>View Sessions</h2>
        <p>Check out all of our awesome sessions and create a schedule.</p>
        <p><button class="ui-button">@Html.ActionLink("Session Signup", "Index", "Session", new { area = "" }, null)</button></p>
    </div>
</div>